name: Build

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write

jobs:
  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            TARGET: macos
            CMD_BUILD: >
              pyinstaller microtonal-seaboard.spec &&
              cd dist/ &&
              zip -r9 microtonal-seaboard-macos.zip ../mappings microtonal-seaboard
            OUT_FILE_NAME: microtonal-seaboard-macos.zip
            ASSET_MIME: application/zip
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: >
              pyinstaller microtonal-seaboard.spec &&
              cd dist/ &&
              tar -a -c -f microtonal-seaboard-windows.zip ../mappings microtonal-seaboard.exe
            OUT_FILE_NAME: microtonal-seaboard-windows.zip
            ASSET_MIME: application/zip
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.7
    - name: Set up Python 3.12
      uses: actions/setup-python@v5.1.0
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build with pyinstaller for ${{matrix.TARGET}}
      run: ${{matrix.CMD_BUILD}}
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.OUT_FILE_NAME }}
        path: dist/${{ matrix.OUT_FILE_NAME }}
        if-no-files-found: error

  release:
    name: Publish release
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.7
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist
    - name: Release
      uses: softprops/action-gh-release@v2.0.8
      with:
        files: dist/**/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
